<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.restoranko">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.Registration"
            android:label="Registracija"
            android:parentActivityName=".controller.MainActivity" />
        <activity
            android:name=".controller.LogIn"
            android:label="Prijava"
            android:parentActivityName=".controller.MainActivity" />
        <activity android:name=".controller.Navigation">
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".controller.KorisnickiProfil"
            android:parentActivityName=".controller.Navigation" />
        <activity android:name=".controller.Password"
                  android:label="Promjena lozinke"
                  android:parentActivityName=".controller.KorisnickiProfil"/>
        <activity android:name=".controller.RestaurantDetails" />
        <activity android:name=".controller.Menu" />
        <activity
            android:name=".controller.Rezervacija"
            android:label="Rezervacija" />
        <activity
            android:name=".controller.Favoriti"
            android:label="Omiljeni restorani"
            android:parentActivityName=".controller.KorisnickiProfil" />
        <activity
            android:name=".controller.MojeRezervacije"
            android:label="Moje rezervacije"
            android:parentActivityName=".controller.KorisnickiProfil" />
        <activity android:name=".controller.QrScener"
        android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".controller.QRGenerator"/>
        <activity android:name=".controller.Recenzija"
                  android:label="Unos recenzije"
                  android:parentActivityName=".controller.MojeRezervacije"/>
        <activity android:name=".controller.RecenzijeIspis"
                  android:label="Sve recenzije"
                  android:parentActivityName=".controller.Navigation"></activity>
    </application>

</manifest>